Source: xping
Section: net
Priority: optional
Maintainer: Mehdi Askari <iorganamis@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-certifi
Standards-Version: 4.6.2
Homepage: https://github.com/mehdiaskari/xping

Package: xping
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-certifi
Recommends:
 iputils-ping,
 traceroute,
 iproute2
Suggests:
 dnsutils
Description: Beautiful CLI network diagnostics
 xping provides live, colour-coded output for ping, traceroute, DNS,
 TLS, HTTP, WHOIS, port scanning, health scoring, and more.
